@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #a5ada7;
  font-family: 'superhelio _regular', sans-serif;
}
h2{
  font-family: 'seriousr4b', sans-serif;
  line-height: 10px;
  @apply text-2xl p-3 block
}

.input-text {
  text-align: center;
}


.App{
  @apply italic text-center
}



#column-table{
  @apply inline-flex bg-white
}



#left-column{
  @apply w-1/4
}
#mascot-btn {
  @apply m-5
}
#tutorial-content{
  background-color: #717872;
  border:3px black solid;
  overflow-y: scroll;
  height: 200px;
  /* scrollbar-color: rebeccapurple green; */
  scrollbar-width: thin;
  @apply m-5 mt-0
}




#game-column{
  display: flex;
  flex-flow: column;
  @apply w-1/2
}
#game-box {
  background-color: #717872;
  /* height: 90%; */
  border: 3px black solid;
  flex-grow: 1;
  @apply my-10
}
.game-content{
  display: flex;
  flex-flow: column;
  @apply h-full
}
.plotbox{
  flex-grow: 1;
@apply inline-grid grid-cols-5 grid-rows-5 gap-5 justify-center w-11/12 mx-auto my-5
}
.plot{
  /* height: 50px;
  width: 50px; */
  background-color: darkgray;
@apply w-full h-full text-center
}



#right-column{
  @apply w-1/4
}
#coin-box {
  background-color: #717872;
  border:3px black solid;
  height: 22%;
  @apply m-5
}
#shop-box{
  background-color: #717872;
  border:3px black solid;
  height: 35%;
  @apply m-5
}
.buy-btn{
  border: 2px black solid;
}
#plantopedia-content{
  background-color: #717872;
  border:3px black solid;
  height: 30%;
  @apply m-5 mt-0
}



#credit-box {
  @apply m-5 items-center flex
}
#credit-content{
  background-color: #717872;
  @apply basis-1/3 text-center mx-auto
}